ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #388E3C;}
li{float:
left;}
li a{ display: block
;color: rgb(0, 0, 0)
;text-align:
center;
margin-top: 300px;
padding: 14px 16px;
text-decoration:none;}
li a:hover 
body {background-color:
rgb(86, 138, 71)}
table, th, td {border:
1px solid black}
img {display: block;
border-radius:
20%;border:
5px solid rgba(97, 218, 97, 0.774)